<?xml version="1.0"?>

<robot xmlns:xacro="http://ros.org/wiki/xacro">

    <xacro:arg name="gripper_joint_limits" default="$(find z1_1f_description)/config/joint_limits.yaml" />
    <xacro:arg name="gripper_initial_position" default="$(find z1_1f_description)/config/initial_position.yaml" />

    <xacro:property name="gripper_joint_limits_config" value="${xacro.load_yaml('$(arg gripper_joint_limits)')}" />
    <xacro:property name="gripper_positions_config" value="${xacro.load_yaml('$(arg gripper_initial_position)')}" />

    <!-- Position limits -->
    <xacro:property name="min_finger_joint_pos" value="${gripper_joint_limits_config['joint_limits']['jointGripper']['min_position']}" />
    <xacro:property name="max_finger_joint_pos" value="${gripper_joint_limits_config['joint_limits']['jointGripper']['max_position']}" />

    <!-- Velocity limits -->
    <xacro:property name="finger_joint_vel" value="${gripper_joint_limits_config['joint_limits']['jointGripper']['max_velocity']}" />

    <!-- Effort limits -->
    <xacro:property name="finger_joint_effort" value="${gripper_joint_limits_config['joint_limits']['jointGripper']['max_effort']}" />

    <!-- Damping and friction -->
    <xacro:property name="finger_joint_damping" value="${gripper_joint_limits_config['joint_limits']['jointGripper']['damping']}" />
    <xacro:property name="finger_joint_friction" value="${gripper_joint_limits_config['joint_limits']['jointGripper']['friction']}" />

    <!-- Access initial positions -->
    <xacro:property name="finger_joint_initial" value="${gripper_positions_config['initial_positions']['jointGripper']}" />

    <material name="z1_1f_light_grey">
        <color rgba="0.6 0.6 0.6 1"/>
    </material>

</robot>